<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Netscape Cookie File Handler">
            <directory>./tests/NetscapeCookieFileHandler/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/NetscapeCookieFileHandler/</directory>
        </whitelist>
    </filter>
</phpunit>
